html, body {
	overflow-x:hidden;
}
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: #666666;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}
h1 {
	font-size: 48px;
	font-weight: normal;
	margin-bottom: 5px;
}
h2 {
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 5px;
}
h3 {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 5px;
}
p {
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
}
blockquote {
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
}

/* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }
 .full-width {
  width: 100%;
 }

@media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
 @media (min-width: 1920px) {
 	.container {
 		width: 1890px;
 	}
 	.hero > h1 {
 		font-size: 50px;
 		font-weight: 700;
 	}
 	.hero > p {
 		font-size: 30px;
 		font-weight: 400;
 	}
 }

 /* HEADER */
header {
 	color: #FFFFFF;
 	background-color: #4188B2;
 }
header nav {
	padding: 1em 0;
  position: absolute;
  z-index: 1;
}
header nav ul {
	display: inline;
	text-align: right;
	float: right;
	margin: 0;
}
header nav ul > li {
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
}
header nav ul > li.btn-outline {
	color: #2E617F;
	text-decoration: none;
	border: 2px solid #2E617F;
	border-radius: 4px;
	padding: 10px 15px;
}
header nav ul > li.btn-outline > a {
	color: #2E617F;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
}
header nav ul > li.btn-outline:hover {
	background: #2E617F;
}
header nav ul > li.btn-outline:hover > a {
	color: #7FA7BF;
	background: #2E617F;
}
header nav ul > li.btn {
	background: #FF696D;
	border: 2px solid #FF696D;
	border-radius: 4px;
	padding: 10px 15px;
}
header nav ul > li.btn > a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
}
header nav ul > li.btn:hover {
	background: #9A3C3F;
	border: 2px solid #9A3C3F;
	padding: 10px 15px;
}
header nav ul > li.btn:hover > a {
	color: #FF696D;
	background: #9A3C3F;
}
nav.full-width {
  background-color: rgba(65, 136, 178, 0.6);
}
nav.top-adjust {
  margin-top: 20px;
}
header .hero {
   background: #4188B2 url("../images/city-people-woman-street-smaller.jpg") no-repeat;
   background-position: -100px -250px;
   background-size:110%;
   padding:4em 0;
   height: 70 vh;
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:200px 0 0;
   text-shadow:0 2px #666666;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
   text-shadow:0 2px #666666;
 }
 .arrow-icon {
  display: block;
  margin: 40px auto 0 auto;
 }

 /* BUTTONS */
 .btn {
   border-radius: 4px;
   border: 2px solid #FF696D;
   color:#FFFFFF;
   font-weight: 300;
   text-decoration: none;
   padding:10px 30px;
   background: #FF696D;
 }
 .btn a {
 	font-family: 'Roboto', Helvetica, Arial, sans-serif;
 	color: #FFFFFF;
 }
 .btn a:hover {
 	font-family: 'Roboto', Helvetica, Arial, sans-serif;
 	color: #FF696D;
	background: #9A3C3F;
 }
 .btn:hover {
   border-radius: 4px;
   border: 2px solid #9A3C3F;
   color:#FF696D;
   font-weight: 300;
   text-decoration: none;
   padding:10px 30px;
   background: #9A3C3F;
 }
 .btn-outline {
   border-radius: 4px;
   border: 2px solid #2E617F;
   font-family: 'Roboto', Helvetica, Arial, sans-serif;
   color: #2E617F;
   font-weight: 300;
   text-decoration: none;
   padding:10px 15px;
 }
 .btn-outline a {
 	font-family: 'Roboto', Helvetica, Arial, sans-serif;
 	color: #2E617F;
 }
  .btn-outline a:hover {
 	font-family: 'Roboto', Helvetica, Arial, sans-serif;
 	color: #7FA7BF;
 	background: #2E617F;
 }
 .btn-outline:hover {
   border-radius: 4px;
   border: 2px solid #2E617F;
   color: #7FA7BF;
   background: #2E617F;
   font-weight: 300;
   text-decoration: none;
   padding:10px 15px;
 }

 /* FEATURES */
 .features {
 	text-align: center;
 	display: block;
 	position: relative;
 	padding: 4em 0;
 }
 .features h2 {
 	color: #4188B2;
 }
 .features ul {
 	margin: 0 auto;
 	padding: 4em 0;
 }
 .features ul li {
 	list-style-type: none;
 	display: inline-block;
 }
 .features i {
 	color: #FF696D;
 	font-size: 48px;
 	margin: 0;
 	vertical-align: middle;
 }

 /* PRICING */
.pricing {
	background-color: #2E617F;
	text-align: center;
	padding: 4em 0;
}
.pricing h2, .pricing p {
	color: #FFFFFF;
}
.pricing ul {
	margin: 0 auto;
	padding: 2em 0;
}
.pricing ul li {
	list-style-type: none;
	color: #FFFFFF;
	font-weight: 300;
}
 .box {
   padding:0 15px 15px;
   border: 2px solid #2E617F;
   border-radius: 8px;
   background: #7FA7BF;
   min-height: 425px;
   position: relative;
   margin-top: 25px;
 }
  .box h4 {
   font-family: "Merriweather", serif;
   font-weight: 300;
   background: #4188B2;
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:20px 0;
 }
 .box h5 {
 	font-size: 24px;
 }
 .box h5 span {
 	font-family: "Roboto", Helvetica, Arial, sans-serif;
 	font-weight: 300;
 	font-size: 20px;
 	vertical-align: top;
 }
 .box h5 span.month {
 	font-family: "Roboto", Helvetica, Arial, sans-serif;
 	font-weight: 300;
 	font-size: 20px;
 	vertical-align: middle;
 }

 .box-middle {
   min-height: 500px;
   margin-top:0px;
   background: #FFFFFF;
   border: 2px solid #2E617F;
   border-radius: 8px;
   margin: 0 -40px;
 }
 .box-middle h4 {
 	color: #666666;
 	font-weight: 400;
 	font-size: 20px;
 	background: #D8D8D8;
 	left: 0;
 	right: 0;
 	top: 0;
 	text-align: center;
 	margin:0 0 40px;
 	padding: 20px 0;
 }
 .box-middle h5 {
 	color: #666666;
 	font-size: 30px;
 }
 .box-middle h5 span {
 	font-family: "Roboto", Helvetica, Arial, sans-serif;
 	font-weight: 300;
 	font-size: 20px;
 	vertical-align: top;
 }
 .box-middle h5 span.month {
 	font-family: "Roboto", Helvetica, Arial, sans-serif;
 	font-weight: 300;
 	vertical-align: middle;
 }
 .box-middle p {
 	color: #666666;
 	font-size: 20px;
 }
 .box-middle .btn {
   position:absolute;
   bottom:20px;
   left:10px;
   right:10px;
 }
 .box .btn-outline {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }

/* TESTIMONIALS */
.testimonials {
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#4188B2;
 }
 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#666666;
   text-align: center;
   position: relative;
   padding:10px;
   width:auto;
   margin:0;
 }
 .testimonials p.name {
   display: inline;
   text-align: center;
 }
 .testimonials img {
 	padding: 1em 0;
 }

/* COMMITMENT */
.commitment {
	padding: 4em 0;
	text-align: center;
	background: url("../images/man-person-hands-coffee.jpg") top center no-repeat;
    background-size:cover;
    display: block;
    position: relative;
}
.commitment h2 {
	color: #4188B2;
}
.commitment ul li {
	list-style-type: none;
	display: inline-block;
}
.commitment ul li > a {
	text-decoration: none;
}
/*.commitment ul li.btn-outline > a {
	color: #2E617F;
}
.commitment > ul li.btn-outline {
	color: #2E617F;
	border: 2px solid #4188B2;
	border-radius: 4px;
	padding: 10px 15px;
}
.commitment > ul li.btn {
	background: #FF696D;
	border: 2px solid #FF696D;
	border-radius: 4px;
	padding: 10px 15px;
}*/
 /* FOOTER */
 footer {
   background-color: #4188B2;
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:300;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }
 @media (min-width: 992px){
   footer{
     background-color: #4188B2;
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #4188B2;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }
 /* DASHBOARD */
 .top-nav {
  padding: 1em 0;
  background-color: #4188B2;
 }
 .top-nav .settings {
  float: left;
  margin: 0 15px;
  display: inline;
 }
 .top-nav .settings img {
  height: 35px;
  width: 35px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
 }
 .top-nav .site-logo {
  display: block;
  margin-left: 33.33333%;
  margin-right: 33.33333%;
 }
 .top-nav .right-header-bar {
  display: block;
  float: right;
 }
 .top-nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
 }
 .top-nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
 }
 .top-nav ul > li > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
 }
 .top-nav ul > li.search > a > i {
  height: 24px;
 }
 .sub-nav {
  padding: 1em 0;
  background-color: #7FA7BF;
 }
 .sub-nav .sub-settings > ul {
  display: inline;
  text-align: left;
  float: left;
  margin: 0 15px;
 }
 .sub-nav .sub-new > ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0 15px;
 }
 .sub-nav .sub-search > p {
  width: 25%;
  border: 1px solid #666666;
  border-radius: 4px;
  background: #FFFFFF;
  display: inline;
  float: right;
  text-align: right;
  padding: 0 15px;
 }
 .sub-nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
 }
 .sub-nav ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
 }
 .sub-nav li.active > a {
  background: #2E617F;
 }
 /* CONTENT */
 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }
 .content .header {
   margin:0 1% 20px;
 }
 .content .header h2 {
   font-family: "Merriweather", serif;
   font-weight: 400;
   margin:0 0 30px;
   font-size: 36px;
   color: #2E617F;
   line-height: 44px;
   float: left;
   display:inline-block;
   padding-left: 20px;
 }
 .content .header > a {
  float: right;
 }
.filter {
  display: block;
  float: left;
  border: 1px solid #2E617F;
  border-radius: 4px;
  display: block;
  padding: 0 10px;
  margin-left: 20px;
 }
 .filter p {
  float: left;
  display: inline;
 }
 .filter a {
  float: right;
  display: inline;
  padding: 10px 0 0 10px;
  color: #2E617F;
 }
 .content-view ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
 }
 .content-view ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  list-style-type: none;
 }
 .content-view ul > li > a {
  color: #2E617F;
  font-size: 28px;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display: block;
   height:230px;
   background: #FFFFFF;
   border: 1px solid #C6C6C5;
   border-radius: 4px;
   position: relative;
   overflow: hidden;
   padding:20px;
 }
/* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 2%;
     float:right;
     width:96%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:98%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }
 .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }
 .item-box h2 {
   font-family: 'Merriweather', serif;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   margin:0;
 }
 .item-box h2 a {
   color: #4188B2;
   text-decoration: none;
 }
 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box h3 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #7FA7BF;
  display: inline;
  position: relative;
  float: right;
 }
 .item-box p {
   margin:10px 0 0;
   display: block;
 }
 .item-box .homepage {
   width: auto;
   height: 50%;
   bottom: 0;
 }
 .item-box li {
   margin:10px 0 0;
   display: block;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;
   color: #666666;
 }
