html, body {
	overflow-x:hidden;
}
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: #666666;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}
h1 {
	font-size: 48px;
	font-weight: normal;
	margin-bottom: 5px;
}
h2 {
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 5px;
}
h3 {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 5px;
}
p {
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
}
blockquote {
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
}

/* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

@media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
 @media (min-width: 1920px) {
 	.container {
 		width: 1890px;
 	}
 	.hero > h1 {
 		font-size: 50px;
 		font-weight: 700;
 	}
 	.hero > p {
 		font-size: 30px;
 		font-weight: 400;
 	}
 }

 /* HEADER */
 header {
 	color: #FFFFFF;
 	background-color: #4188B2;
 }
header nav {
	padding: 1em 0;
	background-color: rgba(65, 136, 178, 0.8);
}
header nav ul {
	display: inline;
	text-align: right;
	float: right;
	margin: 0;
}
header nav ul > li {
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
}
header nav ul > li.btn-outline {
	color: #FFFFFF;
	text-decoration: none;
	border: 2px solid #7FA7BF;
	border-radius: 4px;
	padding: 10px 15px;
}
header nav ul > li.btn {
	background: #FF696D;
	border: 2px solid #FF696D;
	border-radius: 4px;
	padding: 10px 15px;
}
header nav ul > li > a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
}
header nav ul > li.btn-outline:hover > a {
	background: #7FA7BF;
}
header nav ul > li.btn-outline:hover {
	background: #7FA7BF;
}
header nav ul > li.btn:hover > a {
	background: #9A3C3F;
}
header nav ul > li.btn:hover {
	background: #9A3C3F;
	border: 2px solid #9A3C3F;
}
 header .hero {
   background: #4188B2 url("../images/city-people-woman-street.jpg") top center no-repeat;
   background-size:cover;
   padding:4em 0;
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }

 /* BUTTONS */
 .btn {
   border-radius: 4px;
   border: 2px solid #FF696D;
   color:#FFFFFF;
   font-weight: 300;
   text-decoration: none;
   padding:10px 30px;
   background: #FF696D;
 }

 /* FEATURES */
 .features {
 	text-align: center;
 	display: block;
 	position: relative;
 	padding: 4em 0;
 }
 .features ul {
 	margin: 0 auto;
 	padding: 4em 0;
 }
 .features ul li {
 	list-style-type: none;
 	display: inline-block;
 }
 .features i {
 	color: #FF696D;
 	font-size: 48px;
 	margin: 0;
 	vertical-align: middle;
 }

 /* PRICING */
.pricing {
	background-color: #2E617F;
	text-align: center;
	padding: 4em 0;
}
.pricing h2, .pricing p {
	color: #FFFFFF;
}
.pricing ul {
	margin: 0 auto;
	padding: 2em 0;
}
.pricing ul li {
	list-style-type: none;
	color: #FFFFFF;
	font-weight: 300;
}
 .box {
   padding:0 15px 15px;
   border: 2px solid #2E617F;
   border-radius: 8px;
   background: #7FA7BF;
   min-height: 425px;
   position: relative;
   margin-top: 25px;
 }
  .box h4 {
   font-family: "Merriweather", serif;
   font-weight: 300;
   background: #4188B2;
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:20px 0;
 }
 .box h5 {
 	font-size: 24px;
 }
 .box h5 span {
 	font-family: "Roboto", Helvetica, Arial, sans-serif;
 	font-weight: 300;
 	font-size: 20px;
 	vertical-align: top;
 }
 .box h5 span.month {
 	font-family: "Roboto", Helvetica, Arial, sans-serif;
 	font-weight: 300;
 	font-size: 20px;
 	vertical-align: middle;
 }
 .box > .btn-outline {
   color: #2E617F;
   text-decoration: none;
   border: 2px solid #2E617F;
   border-radius: 4px;
   padding: 10px 15px;
 }
 .box-middle {
   min-height: 500px;
   margin-top:0px;
   background: #FFFFFF;
   border: 2px solid #2E617F;
   border-radius: 8px; 
   margin: 0 -40px;  
 }
 .box-middle h4 {
 	color: #666666;
 	font-weight: 400;
 	font-size: 20px;
 	background: #D8D8D8;
 	left: 0;
 	right: 0;
 	top: 0;
 	text-align: center;
 	margin:0 0 40px;
 	padding: 20px 0;
 }
 .box-middle h5 {
 	color: #666666;
 	font-size: 30px;
 }
 .box-middle h5 span {
 	font-family: "Roboto", Helvetica, Arial, sans-serif;
 	font-weight: 300;
 	font-size: 20px;
 	vertical-align: top;
 }
 .box-middle h5 span.month {
 	font-family: "Roboto", Helvetica, Arial, sans-serif;
 	font-weight: 300;
 	vertical-align: middle;
 }
 .box-middle p {
 	color: #666666;
 	font-size: 20px;
 }
 .box-middle .btn {
   position:absolute;
   bottom:20px;
   left:10px;
   right:10px;
 }
 .box .btn-outline {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }

/* TESTIMONIALS */
.testimonials {
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#4188B2;
 }
 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#666666;
   text-align: center;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: center;
 }




